---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Mentions Légales - Rachel Bastié">
  <main class="max-w-3xl mx-auto py-20 px-6 leading-relaxed">
    <h1 class="mb-10">Mentions Légales</h1>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 border-b pb-2">
        1. Éditeur du site
      </h2>
      <h3>Rachel Bastié</h3>
      <p>Entrepreneur Individuel</p>
      <p>
        <strong>Siège social :</strong> 239 route de Saint Simon, 31100 Toulouse
      </p>
      <p><strong>Email :</strong> rachel.bastie@outlook.fr</p>
      <p><strong>SIRET :</strong> 92995991400011</p>
      <p class="mt-2 text-sm italic">TVA non applicable, art. 293 B du CGI</p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 border-b pb-2">2. Hébergement</h2>
      <p>Le site est hébergé par <strong>Vercel Inc.</strong></p>
      <p>
        <strong>Adresse :</strong> 440 N Barranca Ave #4133, Covina, CA 91723, États-Unis
      </p>
      <p class="">
        <strong>Site web :</strong>
        <a
          href="https://vercel.com"
          target="_blank"
          class="underline"
          >https://vercel.com</a
        >
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 border-b pb-2">
        3. Propriété intellectuelle
      </h2>
      <p>
        L'ensemble des contenus présents sur ce site (dessins, illustrations,
        graphismes, logos, photographies, textes) est la propriété exclusive de
        Rachel Bastié.
      </p>
      <p class="mt-2">
        Toute reproduction, représentation, modification ou adaptation totale ou
        partielle de ces éléments est interdite sans l'accord écrit préalable de
        l'auteur.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 border-b pb-2">
        4. Protection des données (RGPD)
      </h2>
      <p>
        Les informations recueillies via le formulaire de contact (nom, email)
        sont uniquement destinées à répondre à vos demandes professionnelles.
        Elles ne sont en aucun cas cédées ou vendues à des tiers.
      </p>
      <p class="mt-2">
        Conformément à la loi « Informatique et Libertés », vous pouvez exercer
        votre droit d'accès aux données vous concernant et les faire rectifier
        ou supprimer en contactant cet email : <br /><br /><a
          href="mailto:rachel.bastie@outlook.fr"
          class="text-xs font-medium"
          >rachel.bastie@outlook.fr</a
        >.
      </p>
    </section>

    <section class="mb-10">
      <h2 class="text-2xl font-semibold mb-4 border-b pb-2">5. Cookies</h2>
      <p>
        Ce site n'utilise aucun cookie de traçage publicitaire ou de profilage.
        Seuls des cookies techniques essentiels au fonctionnement du site
        peuvent être déposés.
      </p>
    </section>
  </main>
</Layout>
