---
// On importe le composant Image d'Astro pour l'optimisation
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

interface Props {
  src: ImageMetadata
  alt: string
  href: string
  texte: string
}
---

<a
  href={Astro.props.href}
  target="_blank"
  class="group flex gap-4 items-center self-end md:justify-center transition-transform duration-300 hover:scale-105"
>
  <p
    class="flex text-[var(--color-white)] text-sm mt-1.5 text-semibold transition-colors duration-300 group-hover:text-blue"
  >
    {Astro.props.texte}
  </p>
  <Image
    src={Astro.props.src}
    alt={Astro.props.alt}
    class="w-8 h-8"
  />
</a>
